@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gp Project</h1>
    <p>A social network made with <a href="https://dotnet.microsoft.com/apps/aspnet">asp.net</a>.</p>
</div>
